---
import { auth, sheets } from '@googleapis/sheets';

const authorisation = await new auth.GoogleAuth({
  credentials: {
    type: import.meta.env.TYPE,
    project_id: import.meta.env.PROJECT_ID,
    private_key_id: import.meta.env.PROJECT_KEY_ID,
    private_key: import.meta.env.PRIVATE_KEY,
    client_email: import.meta.env.CLIENT_EMAIL,
    client_id: import.meta.env.CLIENT_ID,
  },
	scopes: ['https://www.googleapis.com/auth/spreadsheets.readonly'],
}).getClient();

const client = await sheets({
	version: 'v4',
	auth: authorisation,
});

const parse = async (sheet) => (
	await client.spreadsheets.values.get({
		spreadsheetId: '16jbq_VvxwHifdfKFoB327DYrQOJr3dsKCN5bxc5VRS0',
		range: `${sheet}!A1:J100`,
	}).then((res) => {
		const { values } = res.data;

		return values.slice(1,).map((row) => {
			const obj = {};

			row.forEach((cell, i) => {
				const key = values[0][i].replace(/ /g, '').toLowerCase();

				obj[key] = cell;
			});

			return obj;
		});
	})
);

const programme = await parse('Sessions 24-25');
const pastSessions = await parse('Sessions 23-24');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Behaviour Discussion Group | University of Exeter</title>
	</head>
	<body>
    <header>
      <h1>Behaviour<br />Discussion<br />Group</h1>
      <nav>
        <a href="#programme">Programme</a>
        <a href="#past-sessions">Past sessions</a>
      </nav>
      <div>
        <p>If you would like to present, you can sign up <a href="https://docs.google.com/spreadsheets/d/16jbq_VvxwHifdfKFoB327DYrQOJr3dsKCN5bxc5VRS0/edit?usp=sharing">here</a>.</p>
        <p>For any queries or if you'd like to join our <b>mailing list</b>, please contact <a href="mailto:is460@exeter.ac.uk">is460@exeter.ac.uk</a>.</p>
      </div>
    </header>
    <main>
      <section id="intro">
        <p>We are a group of postgraudate students, postdoctoral researchers, lecturers, and professors fascinated by animal behaviour. Based at University of Exeter's Penryn campus, we hold sessions every Monday at noon. Here, people at <b><i>any stage</i></b> of their academic journey can present their research, works in progress, or simply topics they find interesting.</p>
        <p>There are two types of sessions:</p>
        <p><b>Monthly</b> sessions are led by members of staff and include complimentary tea, coffee, and snacks.</p>
        <p><b>Weekly</b> sessions run on all other Mondays and are open to anyone who might want to present or discuss their research interests. These, too, have tea and coffee but no snacks. If no one has signed up for a slot by the Wednesday of the preceding week, this turns into a jorunal club for which anyone can propose papers.</p>
      </section>
      <section id="programme">
        <h2>Programme*</h2>
        <small>*The sessions will fill up as people sign up so be sure to check back</small>
        <ul>
          {programme.filter((s) => s.host).map((s) => {
            const date = s.date.split('/').reverse();
            
            return (
              <li>
                <time datetime={date.join('-')}>
                  {new Date(date).toLocaleDateString('en-GB', { month: 'short', day: 'numeric', year: '2-digit' })}
                </time>
                <div>
                  <h3>{s.host}</h3>
                  <p><small>on</small> <b>{s.topic || 'TBC'}</b></p>
                  <p><small>in</small> <b>{s.roombooked || 'TBC'}</b></p>
                </div>
              </li>
            );
          })}
        </ul>
      </section>
      <section id="past-sessions">
        <h2>Past sessions</h2>
        <ul>
          {pastSessions.reverse().filter((s) => s.host).map((s) => {
            const date = s.date.split('/').reverse();
            
            return (
              <li>
                <time datetime={date.join('-')}>
                  {new Date(date).toLocaleDateString('en-GB', { month: 'short', day: 'numeric', year: '2-digit' })}
                </time>
                <div>
                  <h3>{s.host}</h3>
                  <p><small>on</small> <b>{s.topic || 'TBC'}</b></p>
                </div>
              </li>
            );
          })}
        </ul>
      </section>
    </main>
    <footer>
      <a href="https://www.exeter.ac.uk"><img src="exeter.png" alt=""></a>
    </footer>
	</body>
</html>

<style>
  /* Global */
  @font-face { font-family: 'Raleway'; src: url('Raleway-VariableFont_wght.ttf'); font-style: normal; }
  @font-face { font-family: 'Raleway'; src: url('Raleway-Italic-VariableFont_wght.ttf'); font-style: italic; }
  :root { --blue: #4062bb; --dark-green: #003C3C; --light-green: #00dea5;  }
	* { margin: 0; padding: 0; box-sizing: border-box; }
	body { font-family: 'Raleway'; }
  a { text-decoration: none; color: inherit; }
  ul, ol { list-style-type: none; }
  :is(p, small, time) { line-height: 1.5; }

  @media (min-width: 768px) {
    :root { --space: 2rem; }
    body { display: grid; grid-template-columns: 1fr 3fr; align-items: baseline; }
  }

  @media (max-width: 767px) {
    :root { --space: 1rem; }
  }
  
  /* Header */
  header { padding: var(--space); }
  header h1 { font-weight: 900; }
  header nav { margin-top: 1rem; }
  header p + p { margin-top: 1em; }

  @media (min-width: 768px) {
    header { height: 100vh; position: sticky; top: 0; }
    header h1 { font-size: 4rem; }
    header div { margin-top: 8rem; }
  }

  @media (max-width: 767px) {
    header h1 { font-size: 3rem; }
    header div { margin-top: 2rem; font-size: 0.8rem; }
  }

  /* Main */
  main { padding: var(--space); }
  main section + section { margin-top: 4rem; }
  main #intro p + p { margin-top: 1em; }
  main :is(#programme, #past-sessions) ul { display: grid;  gap: 2rem 4rem; margin-top: 2rem; }
  main #past-sessions time { font-size: 0.85rem; }
  main #past-sessions h3 { font-size: 1rem; }
  main #past-sessions p { font-size: 0.85rem; margin-top: 0.25em; }
  main #past-sessions b { font-weight: 600; }

  @media (min-width: 768px) {
    main { grid-row: 1; grid-column: 2; }
    main :is(#programme, #past-sessions) ul { grid-template-columns: 1fr 1fr; align-items: baseline; }
    main :is(#programme, #past-sessions) li { display: grid; grid-template-columns: 8rem 1fr; }
  }

  @media (max-width: 767px) {
    main #intro { font-size: 0.9rem; }
  }

  /* Footer */
  footer { padding: var(--space); }
  footer a { display: block; }
  footer img { height: 4rem; }

  @media (min-width: 768px) {
    footer { position: sticky; bottom: 0; }
  }

  @media (max-width: 767px) {
    footer { margin-top: 3rem; }
  }
</style>