---
import { auth, sheets } from '@googleapis/sheets';

const authorisation = await new auth.GoogleAuth({
  credentials: {
    type: import.meta.env.TYPE,
    project_id: import.meta.env.PROJECT_ID,
    private_key_id: import.meta.env.PROJECT_KEY_ID,
    private_key: import.meta.env.PRIVATE_KEY,
    client_email: import.meta.env.CLIENT_EMAIL,
    client_id: import.meta.env.CLIENT_ID,
  },
	scopes: ['https://www.googleapis.com/auth/spreadsheets.readonly'],
}).getClient();

const client = await sheets({
	version: 'v4',
	auth: authorisation,
});

const parse = async (sheet) => (
	await client.spreadsheets.values.get({
		spreadsheetId: '16jbq_VvxwHifdfKFoB327DYrQOJr3dsKCN5bxc5VRS0',
		range: `${sheet}!A1:J100`,
	}).then((res) => {
		const { values } = res.data;

		return values.slice(1,).map((row) => {
			const obj = {};

			row.forEach((cell, i) => {
				const key = values[0][i].replace(/ /g, '').toLowerCase();

				obj[key] = cell;
			});

			return obj;
		});
	})
);

const programme = await parse('Sessions 24-25');
const pastSessions = await parse('Sessions 23-24');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Behaviour Discussion Group | University of Exeter</title>
	</head>
	<body>
    <header id="header">
      <h1>Behaviour<br />Discussion<br />Group</h1>
      <nav>
        <a href="#programme">Programme</a>
        <a href="#about">About</a>
        <a href="#past-sessions">Past sessions</a>
        <a href="mailto:is460@exeter.ac.uk">Contact</a>
      </nav>
      <div>
        <p>If you would like to present, you can sign up <a href="https://docs.google.com/spreadsheets/d/16jbq_VvxwHifdfKFoB327DYrQOJr3dsKCN5bxc5VRS0/edit?usp=sharing">here</a>.</p>
        <p>If you'd like to join our <b>mailing list</b>, please <a href="mailto:is460@exeter.ac.uk">contact us</a>.</p>
      </div>
      <img src="banner.png" alt="">
    </header>
    <main>
      <section id="programme">
        <h2>Programme</h2>
        <ul>
          {programme.filter((s) => s.host).map((s) => {
            const date = s.date.split('/').reverse();
            
            return (
              <li>
                <time datetime={date.join('-')}>
                  {new Date(date).toLocaleDateString('en-GB', { month: 'short', day: 'numeric', year: '2-digit' })}
                </time>
                <div>
                  <h3>{s.host}</h3>
                  <p><small>Topic</small> {s.topic || 'TBC'}</p>
                  <p><small>Location</small> {s.roombooked || 'TBC'}</p>
                </div>
              </li>
            );
          })}
        </ul>
      </section>
      <section id="about">
        <h2>About</h2>
        <div>
          <p>We are a group of postgraudate students, postdoctoral researchers, lecturers, and professors fascinated by animal behaviour. Based at University of Exeter's Penryn campus, we hold sessions every Monday at noon. Here, people at <b><i>any stage</i></b> of their academic journey can present their research, works in progress, or simply topics they find interesting.</p>
          <p>There are two types of sessions:</p>
          <p><b>Monthly</b> sessions are led by members of staff and include complimentary tea, coffee, and snacks.</p>
          <p><b>Weekly</b> sessions run on all other Mondays and are open to anyone who might want to present or discuss their research interests. These, too, have tea and coffee but no snacks. If no one has signed up for a slot by the Wednesday of the preceding week, this turns into a jorunal club for which anyone can propose papers.</p>
        </div>
      </section>
      <section id="past-sessions">
        <h2>Past sessions</h2>
        <ul>
          {pastSessions.reverse().filter((s) => s.host).map((s) => {
            const date = s.date.split('/').reverse();
            
            return (
              <li>
                <time datetime={date.join('-')}>
                  {new Date(date).toLocaleDateString('en-GB', { month: 'short', day: 'numeric', year: '2-digit' })}
                </time>
                <div>
                  <h3>{s.host}</h3>
                  <p><small>Topic</small> {s.topic || 'TBC'}</p>
                </div>
              </li>
            );
          })}
        </ul>
      </section>
    </main>
    <footer>
      <a href="https://www.exeter.ac.uk"><img src="exeter.png" alt=""></a>
      <a href="#header">
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>        
      </a>
    </footer>
	</body>
</html>

<style>
  /* Global */
  @font-face { font-family: 'Raleway'; src: url('Raleway-VariableFont_wght.ttf'); font-style: normal; }
  @font-face { font-family: 'Raleway'; src: url('Raleway-Italic-VariableFont_wght.ttf'); font-style: italic; }
  :root { --blue: #4062bb; --lime: #a2faa3; --teal: #59c3c3; --red: #f45b69;  }
	* { margin: 0; padding: 0; box-sizing: border-box; }
	body { font-family: 'Raleway'; }
  a { text-decoration: none; color: inherit; }
  p a { color: var(--blue); border-bottom: 1px solid; }
  p a:hover { color: var(--teal); }
  ul, ol { list-style-type: none; }

  @media (min-width: 768px) {
    :root { --space: 4rem; }
  }

  @media (max-width: 767px) {
    :root { --space: 1rem; }
  }

  /* Header */
  header { padding: var(--space); }
  header h1 { font-weight: 900; }
  header nav a { padding: 0.5em; font-size: 0.85rem; font-weight: 600; text-transform: uppercase; background-color: var(--lime); }
  header nav a:hover { background-color: var(--teal); }
  header p + p { margin-top: 1rem; }
  header img { object-fit: contain; }

  @media (min-width: 768px) {
    header { position: relative; }
    header h1 { font-size: 6rem; }
    header nav { display: flex; column-gap: 0.5rem; margin-top: 4rem; }
    header div { margin-top: 4rem; }
    header img { position: absolute; right: 0; top: 0; height: 100%; width: 50%; padding: 4rem; }
  }

  @media (max-width: 767px) {
    header h1 { font-size: 14vw; }
    header nav { display: grid; grid-template-columns: 1fr 1fr; gap: 0.25rem; margin-top: 2rem; }
    header nav a { display: grid; place-content: center; }
    header div { margin-top: 2rem; }
    header p { font-size: 0.85rem; }
    header img { width: 100%; height: 50vw; margin-top: 4rem; }
  }

  /* Main */
  main { padding: var(--space); }
  section:not(#programme) { margin-top: 4rem; }
  section ul { display: grid; row-gap: 2rem; }
  section time { font-size: 0.85rem; font-weight: 500; padding: 0.25em 0.5em; border: 1px solid; color: var(--red); }
  section h3 { margin-top: 1rem; }
  section h3 + p { margin-top: 0.5rem; }
  section li p { display: grid; grid-template-columns: 8ch 1fr; align-items: baseline; }
  section li p + p { margin-top: 0.25rem; }
  section small { font-size: 0.7rem; font-weight: 700; text-transform: uppercase; }

  #about p + p { margin-top: 1rem; }

  @media (min-width: 768px) {
    section { display: grid; grid-template-columns: 1fr 2fr; column-gap: 4rem; align-items: flex-start; border-top: 1px solid; padding-top: 3rem; }
  }

  @media (max-width: 767px) {
    main { margin-top: 2rem; }
    section h2 { margin-bottom: 2rem; padding-bottom: 1rem; border-bottom: 1px dashed; }
  }

  /* Footer */
  footer { display: flex; justify-content: space-between; align-items: center; margin: 2rem var(--space); border-top: 1px solid; }

  @media (min-width: 768px) {
    footer { padding-top: 3rem; }
    footer img { height: 3.5rem; }
    footer svg { height: 2rem; }
  }

  @media (max-width: 767px) {
    footer { padding-top: 2rem; }
    footer img { height: 2.5rem; }
    footer svg { height: 1.5rem; }
  }
</style>